/* Properties that all three pages, index.html , portfolio.html and contact.html have in common */
* {
    margin: 0;
    padding: 0;
}

html, body {height: 100%
}

.container {
    width: 100%;
    background: #ffffff;
    min-height: 100%;
    margin-top: 0px;
    overflow: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

a:visited {
    color: #777777;
    text-decoration: none;
}
a:link {
    color: #777777;
    text-decoration: none;
}
a:active {
    color: #777777;
    text-decoration: none;
}
a:hover {
    color: rgba(22, 20, 20, 0.479);
    text-decoration: none;
}


h1 {
    border-style: solid;
    color: White;
    background: #4aaaa5;
    padding: 20px;
    margin: 50px;
    width: 20%;
    margin-left: 150px;
    margin-right: 2px;
    margin-top: 50px;
    float: left;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact {
    width: 5%;
    float: right;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-right:30px;
}

.portfolio {
    width: 5%;
    float: right;
    margin-top: 80px;
    margin-bottom:0px;
    margin-right: 30px;
}

.about {
    width: 5%;
    float: right;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-right:30px;
}

hr {
    margin-bottom: 20px;
}

.larger-box {
    margin:0px;
    border-style: solid;
    border-color: #cccccc;
    border-top-width: 6px;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: white;
    background: url("../images/vintage-concrete.png");
    width: 100%;
    clear: both;
}

#footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    border-bottom-color: white;
    position: relative;
    height: 80px;
}



/* About me page content and sections */

.about-me-content {
    background: #ffffff;
    padding: 40px;
    padding-bottom: 90px;
    border-style: solid #dddddd;
    height: 400px;
    width: 960px;
    clear: both;
    margin-left: 130px;
    margin-right: 160px;
    margin-bottom: 160px;
    margin-top: 160px;
}

.about-me-header {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    margin-bottom: 0%;
    margin-right: 40px;
    margin-left: 10px;
}

.about-me-info {
    margin-top: 2px;
    padding: 40px;
}

img {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

/* Portfolio Page content */

.portfolio-content {
    background: #ffffff;
    padding: 40px;
    border-style: solid #dddddd;
    height: 800px;
    width: 960px;
    clear: both;
    margin-left: 130px;
    margin-right: 160px;
    margin-bottom: 160px;
    margin-top: 160px;
}

.portfolio-header {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    margin-bottom: 0%;
    margin-right: 40px;
    margin-left: 10px;
}

.project-1-pic {
    float: left;
    margin-bottom: 0px;
    margin-top: 70px;
    margin-left: 90px;
    position: relative;
    top: 0;
    left: 0;
}

.project-1 {
    background: #4aaaa5;
    color: white;
    padding: 20px;
    margin-top: 0px;
    line-height: 5px;
    width: 76%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    clear: left;
    position: absolute;
    top: 120px;
    left: 0px;
}

.project-2-pic {
    float: left;
    margin-bottom: 0px;
    margin-top: 70px;
    margin-left: 90px;
    position: relative;
    top: 0;
    left: 0;
}

.project-2 {
    background: #4aaaa5;
    color: White;
    padding: 20px;
    margin-top:0px;
    line-height: 5px;;
    width: 76%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    clear: left;
    position: absolute;
    top: 120px;
    left: 0px;
}

.project-3-pic {
    float: left;
    margin-bottom: 0px;
    margin-top: 70px;
    margin-left: 90px;
    position: relative;
    top: 0;
    left: 0;
}

.project-3 {
    background: #4aaaa5;
    color: White;
    padding: 20px;
    margin-top:0px;
    line-height: 5px;;
    width: 76%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    clear: left;
    position: absolute;
    top: 120px;
    left: 0px;
}

.project-4-pic {
    float: left;
    margin-bottom: 0px;
    margin-top: 70px;
    margin-left: 90px;
    position: relative;
    top: 0;
    left: 0;
}

.project-4 {
    background: #4aaaa5;
    color: White;
    padding: 20px;
    margin-top:0px;
    line-height: 5px;;
    width: 76%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    clear: left;
    position: absolute;
    top: 120px;
    left: 0px;
}

.project-5-pic {
    float: left;
    margin-bottom: 0px;
    margin-top: 70px;
    margin-left: 90px;
    position: relative;
    top: 0;
    left: 0;
}

.project-5 {
    background: #4aaaa5;
    color: White;
    padding: 20px;
    margin-top:0px;
    line-height: 5px;;
    width: 76%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    clear: left;
    position: absolute;
    top: 120px;
    left: 0px;
}

/* Content for the Contact page */

.contact-content {
    background: #ffffff;
    padding: 40px;
    border-style: solid #dddddd;
    height: 800px;
    width: 960px;
    clear: both;
    margin-left: 130px;
    margin-right: 160px;
    margin-bottom: 160px;
    margin-top: 160px;
}
 .contact-header {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    margin-bottom: 0%;
    margin-right: 40px;
    margin-left: 10px;
 }

 #name {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 960px;
    height: 25px;
 }

 #mail {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
     margin-top: 5px;
     margin-bottom: 10px;
     width: 960px;
     height: 25px;
    
 }

 #msg {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin-top: 10px;
    width: 960px;
    height: 500px;
    border-color: #777777

 }

 .button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 }

 label {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
 }
 