* {
    margin: 0;
    padding: 0;
}

html, body {height: 100%

}
.container {
    width: 100%;
    background: #ffffff;
    min-height: 100%;
    margin-top: 0px;
    overflow: auto;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

h1 {border-style: solid;
    color: White;
    background: #4aaaa5;
    padding: 20px;
    margin: 50px;
    width: 20%;
    margin-left: 200px;
    margin-right: 2px;
    margin-top: 50px;
    float: left;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact {
    width: 5%;
    float: right;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-right:30px;
}

.portfolio {
    width: 5%;
    float: right;
    margin-top: 80px;
    margin-bottom:0px;
    margin-right: 30px;
}

.about {
    width: 5%;
    float: right;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-right:30px;
}

.larger-box {
    margin:0px;
    border-style: solid;
    border-color: #cccccc;
    border-top-width: 2px;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: white;
    background-color: beige;
    width: 100%;
    clear: both;
}

.about-me-content {
    background: #ffffff;
    padding: 40px;
    border-style: solid #dddddd;
    height: 800px;
    width: 960px;
    clear: both;
    margin-left: 130px;
    margin-right: 160px;
    margin-bottom: 160px;
    margin-top: 160px;
}

.about-me-header {
    font-family: Arial, Helvetica, sans-serif;
    color: #4aaaa5;
    margin-bottom: 0%;
    margin-right: 40px;
    margin-left: 60px;
}

.about-me-info {
    margin-top: 2px;
    padding: 40px;
}

img {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position: relative;
    height: 80px;
}
